.containerInicio {
    display: flex;
    justify-content: center;
    margin: 120px 0;
    gap: 100px;
    border-left: 1px solid var(--heading-color);
}

.inicioContent {
    margin-top: 100px;
    max-width: 500px;
}

.inicioContent h1 {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    margin: 20px 0;
    color: var(--heading-color);
}

.inicio-texto {
    color: var(--text-color);
    width: fit-content;
    font-size: medium;
}

.position {
    font-weight: 500;
    color: var(--heading-color);
}
